[Unit]
Description=Telegram Bot Service
After=network.target

[Service]
ExecStart=/root/rr/bot.sh
WorkingDirectory=/root/rr/
Restart=always
User=abgomey
Group=your-group
Environment=TELEGRAM_BOT_TOKEN=7483230333:AAG04p0WSD7n3B9doqfgMVfPpBxgj1JQ8s4

[Install]
WantedBy=multi-user.target
